.xApp {
  text-align: center;
  min-height: 100vh;

  background-color: #282c34;
  user-select: none;

  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;

}

.toolbar {
  display: flex;
  flex-flow: row wrap;
  user-select: none;
}
.toolbar>button {
  font-size: 1em;
}
.toolbar>button.selected {
  background-color: coral;
}

.hextile-container {
  display: flex;
  flex-flow: row wrap;
  user-select: none;
}

.hextile {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: solid thin silver;
  width: 64px;
  height: 64px;
}

.hextile.first-col{
  margin-left:32px;
}

.hextile:hover {
  border: solid 2px red;
  cursor:pointer;
}

/* hextile */
.terrain-plain {
  background-color: rgb(117, 97, 5);
}
.terrain-plain-grass {
  background-color: lightgreen;
}
.terrain-plain-tree {
  background-color: green;
}
.terrain-hill {
  background-color: gray;
}
.terrain-hill-grass {
  background-color: rgb(118, 197, 122);
}
.terrain-hill-tree {
  background-color: silver;
}

.terrain-water {
  background-color: aqua;
}